# Environment variable files (Security)
.env
.env.*
*.env

# Gradle & Spring build files
.gradle/
**/build/
*.lock
*.bin

# Node & Frontend build
node_modules/
dist/
*.log

# Python
__pycache__/
*.pyc

# IDE & OS
.idea/
.vscode/
.DS_Store
